@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
.pagination button {
    background: none;
    text-align: center;
  
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    border: none;
    color: #909090;
    
    padding: 5px 10px;
    cursor: pointer;
     
  }

.pagination button.active {
    font-weight: bolder;
    color: #CBD736;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
