.container-search-btn{
    background: none;
    display: flex;
    background: transparent;
    text-decoration: none;
}

.search-btn{
width: 84px;
height: 42px;
flex-shrink: 0;
background: transparent;

border-radius: 8px;
border: 2px solid #FFF;
color: white;
box-sizing: content-box;
}

.search-btn:hover {
    background-color:  #646464;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  .search-btn:active {
    background-color:   #646464;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }


