#div-card{
    width: 224px;
    height: 224px;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
}

#div-card:hover {
    box-shadow: 0px 0px 5px 4px #C9D636, 0px 0px 0px 3px #C9D636, 0px 0px 0px 1px rgba(0, 0, 0, 0.60) inset;
    transition: box-shadow 0.3s ease;
  }

 
#img-blur{
    width: 300px;
    height: 300px;
  
}

#div-card2{
   align-items: start;
}

.black-and-white {
    filter: grayscale(100%);
  }