@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');




#search-bar-input{
 width: 196px;
height: 42px;
flex-shrink: 0;

border-radius: 8px;
border: 2px solid #FFF;
color: white;
padding-left: 12px;

}

#search-bar-input{
   background: transparent;
   outline: none;
   
}

::placeholder {
    color: #9F9F9F;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-family: Nunito, sans-serif;

}


  #search-bar-input:focus + label {
    transform: translateY(-30px);
    font-size: 14px;
  }